div{
    border: solid orange;
}
.rosa{
    background-color: pink;
}
.azul{
    background-color: blue;
}
.naranja{
    background-color: orange;
}
.verde{
    background-color: greenyellow;
}
.rojo{
    background-color: red;
}